body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#successoverlay {
    display: none;
    z-index: 1000;
}

body.success>#successoverlay {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 1000;
    text-align: center;
    padding: 10vw;
}

body.success>#successoverlay>.title {
    color: white;
    font-family: monospace;
    font-size: 64px;
    text-shadow: 0 0 20px black;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#IPandPort {
    color: #0af;
    font-family: monospace;
    line-height: 40px;
}

#fileToUploadButtonBox {
    height: 65px;
    padding-top: 20px;
}

#fileToUploadButton {
    padding: 0;
    width: 78px;
    height: 22px;
    margin: 0;
    display: inline-block;
    transform: scale(2);
    cursor: pointer;
    z-index: 100;
}

#fileToUploadButton .button-text {
    font-size: 12px;
    line-height: 22px;
}

#fileToUpload {
    position: relative;
    top: -22px;
    margin: 0;
    width: 78px;
    height: 22px;
    opacity: 0;
}

.list-item {
    display: flex;
    align-items: flex-end;
}

.list-group-item {
    word-break: break-word;
    flex: 1;
}

.list-group-item-close {
    margin-bottom: 2rem;
    margin-left: -1.5rem;
    z-index: 2;
}